html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.App-header {
    background-color: #0071f3;
    height: 64px;
    width: 100%;
    color: white;
    text-align: left;
    position: relative;
    padding: 20px;
}

.cap-first-letter:first-letter {
    text-transform: capitalize;
}

.black-color {
    color: #000000;
}

.black-bg {
    background-color: #000000;
}

div {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.App-body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.navlink {
    padding: 0.4rem 0.8rem;
    background-color: white;
    border-radius: 3px;
    color: #28547a;
    text-decoration: none !important;
    margin-left: 10px;
}

.navlink:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.App-link {
    color: #61dafb;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #0071f3;
}

.user-content {
    color: black;
    background-color: grey;
}

.user-avatar {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.user-info {
    font-size: 16px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
}

.user-tab {
    background-color: white;
}

.admin-tab {
    background-color: white;
    min-height: 170px;
}

.no-comment {
    margin-left: 10px;
}

.video-link {
    text-decoration: none !important;
    color: black;
}

.video-link:hover {
    color: rgb(37, 133, 170);
}

.upload-form {
    background-color: silver;
}

.view-all-likes-link {
    text-decoration: none !important;
    color: black;
    width: 10px;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 20px;
}

.pagination {
    margin: 0 auto;
    margin-bottom: 20px;
}

.likedVideos {
    margin: 0 auto;
}

.no-result {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.backButton {
    text-align: center;
    margin-bottom: 20px;
}

.loginForm {
    text-align: left;

    width: 300px;
    height: 400px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.signupForm {
    text-align: left;

    width: 300px;
    height: 400px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
