.password-body {
    background: #FFFFFF;
    text-align:center；
}

.formContainer{
    text-align: center;
    margin:0 auto;
    margin-right:5%;
    margin-top: 5%
}

.resetButton{
    margin-top:2%
}

.repeatedLable{
    margin-top:2%
}